name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
    - uses: actions/checkout@v2
    - name: build
      run: |
        rsync -av ./ /root/ros2_ws/src/mypkg/
        cd /root/ros2_ws
        colcon build
        source install/setup.bash
    - name: run test
      run: |
        cd /root/ros2_ws
        bash -xv ./src/mypkg/test/test_monitor.bash
