name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
    - uses: actions/checkout@v2
    - name: build
      run: |
        rsync -av ./ /root/ros2_ws/src/mypkg/
        cd /root/ros2_ws
        colcon build
    - name: run test
      shell: bash
      run: |
        source /opt/ros/jazzy/setup.bash
        cd /root/ros2_ws
        source install/setup.bash
        bash ./src/mypkg/test/test_monitor.bash
